* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(44, 44, 44); 
     animation: backgroundanim 3s;
  
}
@keyframes backgroundanim {
    from {background-color: rgb(117, 117, 117);}
    to {background-color: rgb(44, 44, 44); }
    }
@keyframes titleanim {
    from {color: rgb(255, 255, 255);}
    to {color: rgb(0, 0, 0); }
}
@keyframes svganim {
    from {fill:rgb(255, 255, 255);}
    to {fill:rgb(0, 0, 0); }
}
 
h1.baslik{
    white-space: nowrap;
    color: rgb(0, 0, 0);
    animation: titleanim 2s;
    position: absolute;
    right: 80px;
    bottom: 50%;
    font-size: 3.8vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1.baslik:hover{
    cursor: none;
    transition: 0.70s;
    color: rgb(224, 224, 224);
}
div.sayfa#main{
    position: flex;
    justify-content: center;
    height: 100vh;
}
div.hakanuludag{
    position: absolute;
    right: 0px;
    top: 55vh;
    height: 19%;
    width: 40%;
}
#svgg:hover{
    cursor:none;
    transition: 0.40s;
    fill:rgb(226, 226, 226)
}
ul {
    cursor: none;
    top: 40%;
    left: 14%;
    width: 70%;
    height: 55%;
     list-style-type: none;
      position: relative;
}
li {
    display: flex;
    justify-content: center;
    padding-right: 8%;
    width: 10%;
    height: 80%;
     float:right;
}
#svgg{
    animation: svganim 3s;
}
.iconslink{
    cursor: none;
}
div.sayfa#blog{  
    padding-top: 5vh;
    padding-bottom: 100vh;
    position: relative;
    background-color: rgb(233, 233, 233);
    font-size: 0.60vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sayfa#info{
    text-align: center;
    position: absolute;
    left: 25%;
    word-wrap: break-word;
    width: 50%;
    font-size: 0.90vw;
}
#infocizgi{
    position: absolute;
    left: 25%;
    top: 30%;
    width: 50%;
    height: 5%;
}
.projeler#bir{  
    width: 90%;
    height: 30%;
    padding: 2vh;
    position: absolute;
    top: 40%;
    left: 2%;
    font-size: 1vw;

}

.bir#baslik{
    padding-right: 5vw;
    padding-bottom: 2vh;
    font-weight: bold;
   text-decoration: underline;
}
.bir#txt{
    width: 70%;
}
div.footer{
    text-align: center;
    font-size: 0.80vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
